:root {
	--color-white: #ffffff;
	--color-purple-800: #5509cc;
	--color-purple-700: #6a0bff;
	--color-purple-brand: #5533ff;
	--color-text-black: #141414;
	--color-black-900: #191919;
	--color-black-700: #474747;
	--color-black-200: #bababa;
	--color-black-100: #d1d1d1;
	--color-black-50: #e8e8e8;
	--color-black-10: #f8f8f8;
	--color-primary-bg: #f4f4f4;

	/* --- Font Weights --- */
	--fw-reg: 400;
	--fw-med: 500;
	--fw-sb: 600;

	/* --- Line Heights (Высота строки) --- */
	--lh-110: 1.1; /* 110% */
	--lh-115: 1.15; /* 115% */
	--lh-120: 1.2; /* 120% */
	--lh-130: 1.3; /* 130% */

	/* --- Font Sizes (Размеры шрифта) --- */
	/* Headlines */
	--fs-h1: 60px;
	--fs-h2: 40px;
	--fs-h3: 34px;
	--fs-h4: 18px; /* Используется для h4 и H5 */

	/* Body Text */
	--fs-12: 12px;
	--fs-14: 14px;
	--fs-16: 16px;
	--fs-18: 18px;
	--fs-20: 20px;
	--fs-24: 24px;
	--fs-32: 32px;

	/* --- Border Radius --- */
	--border-radius-68: 68px;
	--border-radius-24: 24px;
	--border-radius-12: 12px;
	--border-radius-8: 8px;

	/* --- Flex Gaps --- */
	--gap-40: 40px;
	--gap-24: 24px;
	--gap-20: 24px;
	--gap-8: 8px;

	/* --- Paddings --- */
	--pd-40: 40px;
	--pd-29: 29px;
	--pd-24: 24px;
	--pd-20: 20px;
	--pd-16: 16px;
	--pd-12: 12px;
	--pd-8: 8px;

	/* --- Margins --- */
	--mb-40: 40px;
	--md-16: 16px;
}

body {
	background-color: var(--color-primary-bg);
}

h1 {
	font-size: var(--fs-h1);
	line-height: var(--lh-115);
	font-weight: var(--fw-sb);
}
h2 {
	font-size: var(--fs-h2);
	line-height: var(--lh-115);
	font-weight: var(--fw-sb);
}
h3 {
	font-size: var(--fs-h3);
	line-height: var(--lh-115);
	font-weight: var(--fw-sb);
}
h4 {
	font-size: var(--fs-h4);
	line-height: var(--lh-120);
	font-weight: var(--fw-sb);
}
h5 {
	font-size: var(--fs-h4);
	line-height: var(--lh-120);
	font-weight: var(--fw-sb);
}

/* 12px */
.text-12-reg {
	background-color: transparent;
	font-size: var(--fs-12);
	line-height: var(--lh-120);
	font-weight: var(--fw-reg);
}
.text-12-med {
	background-color: transparent;
	font-size: var(--fs-12);
	line-height: var(--lh-120);
	font-weight: var(--fw-med);
}

/* 14px */
.text-14-reg {
	background-color: transparent;
	font-size: var(--fs-14);
	line-height: var(--lh-120);
	font-weight: var(--fw-reg);
}
.text-14-med {
	background-color: transparent;
	font-size: var(--fs-14);
	line-height: var(--lh-120);
	font-weight: var(--fw-med);
}
.text-14-sb {
	background-color: transparent;
	font-size: var(--fs-14);
	line-height: var(--lh-120);
	font-weight: var(--fw-sb);
}

/* 16px */
.text-16-reg {
	background-color: transparent;
	font-size: var(--fs-16);
	line-height: var(--lh-130);
	font-weight: var(--fw-reg);
}
.text-16-med {
	background-color: transparent;
	font-size: var(--fs-16);
	line-height: var(--lh-130);
	font-weight: var(--fw-med);
}
.text-16-sb {
	background-color: transparent;
	font-size: var(--fs-16);
	line-height: var(--lh-110);
	font-weight: var(--fw-sb);
}

/* 18px */
.text-18-sb {
	background-color: transparent;
	font-size: var(--fs-18);
	line-height: var(--lh-120);
	font-weight: var(--fw-sb);
}

/* 20px */
.text-20-reg {
	background-color: transparent;
	font-size: var(--fs-20);
	line-height: var(--lh-120);
	font-weight: var(--fw-reg);
}
.text-20-med {
	background-color: transparent;
	font-size: var(--fs-20);
	line-height: var(--lh-120);
	font-weight: var(--fw-med);
}
.text-20-sb {
	background-color: transparent;
	font-size: var(--fs-20);
	line-height: var(--lh-120);
	font-weight: var(--fw-sb);
}

/* 24px */
.text-24-med {
	background-color: transparent;
	font-size: var(--fs-24);
	line-height: var(--lh-120);
	font-weight: var(--fw-med);
}
