.header {
	display: flex;
	align-items: center;
	background-color: var(--color-white);
	gap: var(--gap-20);
	padding: 0 112px;
}

.logo {
	display: flex;
	gap: var(--gap-8);
	padding-top: var(--pd-16);
	padding-bottom: var(--pd-16);
}

.logoName {
	color: var(--color-text-black);
	font-weight: 900;
}

.navigation {
	display: flex;
	gap: var(--gap-20);
}

.authorization {
	display: flex;
	gap: var(--gap-24);
	margin-left: auto;
}
