.button {
	cursor: pointer;
	outline: none;
	border: none;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	gap: var(--gap-8);
	border-radius: var(--border-radius-8);
	background: transparent;
	transition: background-color 0.2s ease, color 0.2s ease,
		border-color 0.2s ease;
}

.sizeM {
	min-height: 36px;
}

.sizeL {
	min-height: 44px;
}

.primary {
	background-color: var(--color-purple-700);
	color: var(--color-white);
	padding: var(--pd-12) var(--pd-29);
	border-radius: var(--border-radius-12);
}

.primary:hover {
	background-color: var(--color-purple-800);
}

.link {
	background-color: transparent;
	color: var(--color-purple-700);
	transition: text-decoration 0.2s ease;
	justify-content: flex-start;
}

.link:hover {
	text-decoration: underline;
}

.skill {
	padding: var(--pd-10) var(--pd-12);
	border: 1px solid var(--color-black-200);
	border-radius: var(--border-radius-12);
	background-color: transparent;
}

.skill:hover {
	background-color: var(--color-black-25);
}

.skill:focus-visible {
	border: 1px solid var(--color-purple-700);
}

.skillActive {
	border-color: var(--color-purple-700);
}

.pagination {
	min-width: 30px;
	height: 30px;
	border-radius: var(--border-radius-12);
}

.pagination:hover {
	background-color: rgba(85, 9, 204, 0.08);
}

.paginationActive {
	background-color: var(--color-purple-700);
	color: var(--color-white);
}

.button.disabled {
	cursor: default;
	opacity: 0.5;
	pointer-events: none;
}
