.item {
	display: flex;
	flex-direction: column;
	align-items: start;
	gap: var(--gap-20);
	user-select: none;
	overflow: hidden;
	border-bottom: 1px solid var(--color-black-100);
}

.item .body {
	max-height: 0;
	opacity: 0;
	overflow: hidden;
	transition: max-height 0.2s ease, opacity 0.3s ease;
}

.item.open .body {
	max-height: 500px;
	opacity: 1;
	margin-bottom: var(--md-16);
}
