.filters {
	display: flex;
	flex-direction: column;
	gap: var(--gap-8);
}

.link {
	color: var(--color-purple-800);
	text-decoration: underline;
	text-decoration-thickness: 0.5px;
}

.btns {
	display: grid;
	grid-auto-flow: column;
	grid-auto-rows: auto;
	grid-auto-columns: max-content;
	row-gap: var(--gap-8);
	column-gap: var(--gap-12);
	justify-content: flex-start;
}

.btns.multi-column {
	grid-template-columns: repeat(2, max-content);
	grid-auto-flow: row;
}
