.search {
	display: flex;
	align-items: center;
	gap: var(--pd-8);
	border: 1px solid var(--color-black-50);
	border-radius: var(--border-radius-68);
	padding: var(--pd-14) var(--pd-24);
	background: white;
}

.search:focus-visible {
	border: 1px solid var(--color-purple-700);
}

.input {
	flex: 1 1 auto;
	min-width: 0;
	color: var(--color-black-800);
	border: none;
	background: transparent;
	font-size: var(--fs-16);
}

.input::placeholder {
	color: var(--color-black-300);
}

.input:focus {
	outline: none;
}
