.spinner {
	display: inline-block;
	position: relative;
}

.spinner div {
	box-sizing: border-box;
	display: block;
	position: absolute;
	border-radius: 50%;
	animation: spinner 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
	border: 2px solid;
}

.spinner div:nth-child(1) {
	animation-delay: -0.45s;
}

.spinner div:nth-child(2) {
	animation-delay: -0.3s;
}

.spinner div:nth-child(3) {
	animation-delay: -0.15s;
}

.sm {
	width: 16px;
	height: 16px;
}

.md {
	width: 24px;
	height: 24px;
}

.lg {
	width: 40px;
	height: 40px;
}

.sm div {
	width: 16px;
	height: 16px;
	border-width: 2px;
}

.md div {
	width: 24px;
	height: 24px;
	border-width: 3px;
}

.lg div {
	width: 40px;
	height: 40px;
	border-width: 4px;
}

.primary div {
	border-color: var(--color-purple-700) transparent transparent transparent;
}

.white div {
	border-color: var(--color-white) transparent transparent transparent;
}

.black div {
	border-color: var(--color-black-800) transparent transparent transparent;
}

@keyframes spinner {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.centered {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 200px;
	width: 100%;
}

.fullPage {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(255, 255, 255, 0.9);
	z-index: 1000;
}

.centeredContent {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: var(--gap-12);
}

.message {
	color: var(--color-black-700);
	margin-top: var(--mb-8);
}
