.wrapper {
	padding: var(--pd-24) var(--pd-20) var(--pd-40);
	background-color: var(--color-white);
	border-radius: var(--border-radius-24);
}

.text {
	padding-bottom: var(--pd-16);
	margin-bottom: var(--mb-40);
	border-bottom: 1px solid var(--color-black-50);
}

.list,
.listSkeleton {
	display: flex;
	flex-direction: column;
	gap: var(--gap-24);
	list-style: none;
	padding-left: 0;
}

.list li,
.itemSkeleton {
	position: relative;
	padding-left: var(--pd-24);
}

.list li::before {
	content: '•';
	position: absolute;
	left: 0;
	color: var(--color-purple-brand);
	font-size: var(--fs-24);
	line-height: 1;
	width: 24px;
	height: 24px;
	display: flex;
}

/* Скелетон стили */
.skeletonHeader {
	width: 200px;
	height: 32px;
	margin-bottom: var(--mb-40);
	border-radius: var(--border-radius-8);
}

.skeletonTitle {
	width: 80%;
	height: 24px;
	margin-bottom: var(--mb-24);
	border-radius: var(--border-radius-8);
}

.skeletonMeta {
	display: flex;
	gap: var(--gap-40);
	margin-bottom: var(--mb-24);
}

.skeletonMetaItem {
	width: 120px;
	height: 32px;
	border-radius: var(--border-radius-8);
}

.skeletonImage {
	width: 100%;
	height: 200px;
	margin-bottom: var(--mb-24);
	border-radius: var(--border-radius-12);
}

.skeletonText {
	width: 100%;
	height: 60px;
	margin-bottom: var(--mb-16);
	border-radius: var(--border-radius-8);
}

.skeletonLink {
	width: 120px;
	height: 20px;
	margin-left: auto;
	border-radius: var(--border-radius-8);
}
