.answerInfo {
	display: flex;
	flex-direction: column;
	gap: var(--gap-20);
}

.brief {
	display: flex;
	flex-direction: column;
	gap: var(--gap-12);
}

.back {
	display: inline-block;
	margin-left: var(--mb-8);
}
