.content {
	display: flex;
	flex-direction: column;
	gap: var(--gap-20);
	padding: var(--pd-24);
	border-radius: var(--border-radius-24);
	background-color: var(--color-white);
}

.brief {
	display: flex;
	gap: var(--gap-20);
	padding: var(--pd-24);
	border-radius: var(--border-radius-24);
	background-color: var(--color-white);
}

.body {
	color: var(--color-black-700);
}
