.item {
	display: flex;
	flex-direction: column;
	align-items: start;
	gap: var(--gap-20);
	user-select: none;
	overflow: hidden;
	border-bottom: 1px solid var(--color-black-100);
	cursor: pointer;
}

.item .content {
	max-height: 0;
	opacity: 0;
	overflow: hidden;
	transition: max-height 0.2s ease, opacity 0.3s ease;
}

.item.open .content {
	max-height: 100%;
	opacity: 1;
	margin-bottom: var(--mb-16);
}

.body {
	margin: var(--mb-24) 0;
}

.link {
	margin-left: auto;
	display: flex;
	gap: var(--gap-8);
	width: fit-content;

	color: var(--color-purple-700);
	background-color: transparent;
	font-size: var(--fs-16);
	line-height: var(--lh-110);
	font-weight: var(--fw-sb);
}
